.center{
    text-align: center;
}

.left{
    text-align: left;
}

.full-width {
    display:block;
}

.app{
    font-size: 16pt;
    padding-top:30px;
}

.margin-t15{
    margin-top: 15px;
}

.margin-t30{
    margin-top: 30px;
}

.margin-b5{
    margin-bottom: 5px;
}

.margin-b15{
    margin-bottom: 15px;
}

.margin-b30{
    margin-bottom: 30px;
}

.margin-l30{
    margin-left: 30px;
}

.padding-lr30{
    padding-left: 30px;
    padding-right: 30px;
}

.invalid{
    border: 1px solid red;
}

.red{
    color: red;
}

.pointer{
    cursor: pointer;
}

.full-width{
    width:100%;
}

.font-size11pt{
    font-size: 11pt;
}

.font-size13pt{
    font-size: 13pt;
}

.font-size17pt{
    font-size: 17pt;
}

.font-size100pt{
    font-size: 100pt;
}

.pre-text{
    background: #f3f3f3;
    border: 1px dotted #bbbbbb;
    padding: 7px 8px 5px 8px;
    line-height: 1.3em;
}